@font-face {
  font-family: 'Century-gothic';
  src: url('../assets/Fonts/centurygothic.ttf');
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: Century-gothic, sans-serif;
  line-height: 27px;
  font-size: 22px;
}


@media (max-width: 390px) {
  body {
    font-size: 16px;
  }
}
