.section {

  margin: 61px 18px 80px 18px;

  &_description {
    display: flex;
    justify-content: space-between;
  }

  &_image {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
    }
  }
}