.header {
  font-family: Century-gothic, sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 63px;

  a {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }

  a:visited {
    color: black;
  }

  a:after {
    display: block;
    content: "";
    background-color: black;
    height: 1px;
    width: 0;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    transform: translateX(-50%);
  }

  a:hover:after,
  a:focus:after {
    width: 50%;
  }
}
