.section {
  margin-bottom: 80px;
}

.section_last_slide {
  margin-bottom: 30px;
}

@media (max-width: 700px) {
  .section_margin {
    margin-bottom: 60px;
  }
}

@media (max-width: 390px) {
  .section_margin {
    margin-bottom: 30px;
  }
}