@import './styles/_reset.scss';
@import './styles/_font.scss';

::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
}

body {
  max-width: 1840px;
  margin: 0 auto;
}