@import './styles/_reset.scss';
@import './styles/_font.scss';

html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
}

body {
  max-width: 1840px;
  margin: 0 auto;
}

@media (max-width: 1839px) {
  body {
    width: 95%;
    margin: 0 auto;
  }
}